 <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
      <div class="col-md-5 p-lg-5 mx-auto my-5">
        <h1 class="display-4 font-weight-normal">Sonar</h1>
        <p class="lead font-weight-normal">This app will help you collecting informations about your celebrities' favourites luxury homes.
        You can store datas based on Name, Telefone number, Address (which will automaticall connect to the exact location on Google maps) and a reference 
      website! Also don't forget to log in! ;) </p>
      </div>
      <div class="product-device shadow-sm d-none d-md-block"></div>
      <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
    </div>

<p id="notice"><%= notice %></p>

<h1>Homes</h1>

<table class="table table-hover table-condensed">
  <thead class="thead-dark">
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Phone</th>
      <th>Website</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @homes.each do |home| %>
      <tr>
        <td><%= home.name %></td>
        <td><%= home.address %></td>
        <td><%= home.phone %></td>
        <td><%= link_to home.website, home.website %></td>
        <td><%= link_to 'Show', home, class: "btn btn-link" %></td>
        <td><%= link_to 'Edit', edit_home_path(home), class: "btn btn-link" %></td>
        <td><%= link_to 'Destroy', home, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-link" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Add a new Home', new_home_path, class: "btn btn-light" %>
 
<br>

