<div class="jumbotron">
  <h2>Sonar is the best way to find reviews on the best homes on the planet!</h2>
  <h3> Leave reviews and ratings for your favourite homes! </h3>
</div>
<p id="notice"><%= notice %></p>

<h1>Homes</h1>

<table class="table table-hover table-condensed">
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Phone</th>
      <th>Website</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @homes.each do |home| %>
      <tr>
        <td><%= home.name %></td>
        <td><%= home.address %></td>
        <td><%= home.phone %></td>
        <td><%= link_to home.website, home.website %></td>
        <td><%= link_to 'Show', home, class: "btn btn-link" %></td>
        <td><%= link_to 'Edit', edit_home_path(home), class: "btn btn-link" %></td>
        <td><%= link_to 'Destroy', home, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-link" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Home', new_home_path, class: "btn btn-link" %>
 <br>

