<p id="notice"><%= notice %></p>

<%= image_tag @home.image_url %>

<p>
  <strong>Name:</strong>
  <%= @home.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @home.address %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @home.phone %>
</p>

<p>
  <strong>Website:</strong>
  <%= @home.website %>
</p>



<iframe
  width="300"
  height="250"
  frameborder="0" style="border:0"
  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAyhh3DEecbAU4ZVjRfUzuMVoBue6le1j8
    &q=<%= @home.address.parameterize %>" allowfullscreen>
</iframe>

<%= link_to 'Edit', edit_home_path(@home), class: "btn btn-link" %> |
<%= link_to 'Back', homes_path, class: "btn btn-link" %>
